
.about {
    position: relative;
    margin: 0 auto;
    padding: 55px 40px;
    text-align: left;
    font-size: 55px;
    color: #020A0E;
}

.about.one {
    background: #EBEBEB;
}
.about.two {
    background: #E8E8E8;   
}

.about.contacts {
    background: #03131A; 
    color: white;   
}

.about.version {
    background: #020F14;
    color: white;
}

.about span {
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.about span span {
    color: #4E94D4;
}

.about.contacts span span {
    color: #6EBA6A;
}

.about.version span span {
    color: #EA4C4B;
}

.about p {
    font-weight: 500;
    font-size: 35px;
    margin-top: 60px;
    font-family: 'Rubik';
}
.about #version {
    color: #EF738D;
}

.about p img {
    height: 2.5ch;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.about.contacts a {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #2f4ba5;  
    text-decoration: none;
    font-weight: 700;
}

.about .screenq {
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
}
.about .screenq img {
    width: 688px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(255, 135, 161, 0.25);
    margin-top: 40px;
}

@media (max-width: 1500px) {

    .about .screenq img {
        width: 50vw;
        border-radius: 25px;
        box-shadow: 0px 0px 20px rgb(255, 135, 161, 0.25);
        margin-top: 40px;       
    }

    @media (max-width: 500px) {

        .about span {
            font-size: 45px;
            font-family: 'Montserrat';
            font-weight: 700;
        }

        .about p {
            font-size: 30px;
        }
        
        .about p img {
            height: 2.5ch;
        }
        
        .about .screenq img {
            border-radius: 15px;
        }

    }

}
