
.about {
    position: relative;
    margin: 0 auto;
    padding: 75px 40px 75px 40px;
    text-align: center;
    font-size: 55px;
    color: white;
}

.about span {
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.about span span {
    color: #EF738D;
}

.about p {
    font-weight: 700;
    font-size: 35px;
    margin-top: 60px;
}

.about p img {
    height: 2.5ch;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.about p a {
    font-size: 35px;
    color: #2f4ba5;  
    text-decoration: none;
}

@media (max-width: 500px) {
    .about span {
        font-size: 45px;
        font-family: 'Montserrat';
        font-weight: 700;
    }
    .about span span {
        color: #EF738D;
    }
    
    .about p {
        font-weight: 700;
        font-size: 25px;
        margin-top: 60px;
    }
    
    .about p img {
        height: 2.5ch;
    } 
}
