
@import url('https://darvigdsd.github.io/media/Bootstrap/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    cursor: default;
}

body, head {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background: #00030F;
}

.head {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    padding: 40px;
    background: #010313;
}
.head img {
    display: inline-block;
    height: 76px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.freeMusicPortal {
    width: auto;
    height: auto;
    padding: 50px 20px;
    background: #ED2E55;
    text-align: center;
}

.freeMusicPortal span {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
}
.freeMusicPortal p {
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 400;
    color: white;
    opacity: 0.7;
    margin: 0;
}


.clientAbout {
    width: auto;
    height: auto;
    background: #000017;
    color: white;
    padding: 50px 10px;
    text-align: center;
}
.clientAbout span.title {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #B2B2FF;
    margin: 0;
}
.clientAbout span {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    margin-top: 10px;
    display: block;
}
.clientAbout span span {
    display: inline-block;
    margin: 0;
}
.clientAbout p {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #3440AB;
    margin: 0;
}


.popularFuncs {
    width: auto;
    height: auto;
    background: #E8F0FF;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #000017;
    padding: 50px 10px;
    text-align: center;
}

.popularFunc {
    width: auto;
    height: auto;
    padding: 50px 10px;
    background: white;
    text-align: center;
}
.popularFunc span {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: black;
}
.popularFunc p {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #010313;
    margin: 0;
    margin-top: 10px;
}
.popularFunc p span {
    font-size: 35px;
}

.popularFunc img {
    height: 515px;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    margin-top: 10px;
}


.popularFunc.offline {
    background: #E9FFF0;
}
.popularFunc.offline span {
    color: #BEFFD3;
}
.popularFunc.offline p span {
    color: #BEFFD3;
}

.popularFunc.share {
    background: #E9F4FF;
}
.popularFunc.share span {
    color: #BEE8FF;   
}
.popularFunc.share p span {
    color: #BEE8FF;
}
.popularFunc.share p span.notavailable {
    color: #010313;
    opacity: 0.2;
}

.download {
    width: auto;
    height: auto;
    padding: 50px 10px;
    background: #030322;
    color: white;
    text-align: center;
    position: relative;
}
.download::after {
    content: '';
    width: 220px;
    height: 240px;
    background-image: url('../media/images/qettery-mini.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(-50% - -25%);
    right: 40px;
    filter: drop-shadow(0px 3px 20px rgba(255, 135, 162, 0.5));
}
.download span {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    display: block;
    position: relative;
    margin: 0 auto;
}
.download button {
    width: auto;
    height: auto;
    border: none;
    padding: 15px 45px;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    background: #ED2E55;
    box-shadow: 0px 3px 15px rgba(237, 46, 85, 0.25);
    border-radius: 45pt;
    margin-top: 25px;
}
.download button * {
    cursor: pointer;
}
.download button.notavailable {
    opacity: 0.5;
}
.download button.web {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}
.download button.apple {
    margin-left: 25px;
}

.download span.version {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    margin-top: 25px;
}
.download span#version {
    display: inline-block;
    font-size: 25px;
    color: #ED2E55;
}

.footer {
    padding: 40px;
    font-size: 35px;
    background: #010313;
}
.footer img {
    display: inline-block;
    height: 76px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.footer span {
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
}
.footer span span {
    margin-left: 0;
}

.notwork {
    display: block;
    padding: 50px 10px;
    background: #F5F6FF;
    color: #010313;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}
.notwork span {
    font-size: 35px;
    color: #010027;
}
.notwork p {
    margin: 0;
    font-size: 20px;
    color: #020065;
}

button:active, button:focus {
    outline: none;
}

@media (max-width: 1300px) {
    .popularFunc img {
        height: 300px;
        border-radius: 20px;
    }   
    .download::after {
        width: 140px;
        height: 160px;
        top: calc(-45% - -25%);
        right: 40px;
    }

    @media (max-width: 560px) {
        .head {
            text-align: center;
        }
        .head img {
            height: 56px;
        }
        .footer {
            text-align: center;
        }
        .footer span {
            margin: 0;
        }
        .footer img {
            position: relative;
            display: block;
            height: 56px;
            margin: 0 auto;
        }
    
        .freeMusicPortal span {
            font-size: 35px;
        }
        .freeMusicPortal p {
            font-size: 20px;
        }
    
        .clientAbout span {
            font-size: 30px;
        }
        .clientAbout p {
            font-size: 15px;
        }
    
        .popularFunc img {
            height: 150px;
            border-radius: 10px;
        }

        .download::after {
            width: 40px;
            height: 60px;
            top: 0;
            right: 50%;
            transform: translate(50%, -50%);
        }
    
    }
}