
@import '../media/Bootstrap/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body, head {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background: #020A0E;
}

.head {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    padding: 40px;
    background: #061318;
}
.head img {
    display: inline-block;
    height: 76px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.head a {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;   
    text-decoration: none;
    margin-left: 50px;
}
.head a.no-mrg30 {
    margin-left: 0;
}

.hl {
    width: auto;
    height: auto;
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    padding: 60px 40px;
}

.hl.one {
    background: #CBCBCB;
    text-align: center;
    font-size: 55px;
}


.hl.one .block {    
    display: inline-block;
    padding: 60px 70px;
    background: #ED2E55;
    color: white;
    font-size: 20px;
    font-family: 'Rubik';
    box-shadow: 0px 5px 20px rgba(237, 46, 85, 0.25);
    border-radius: 60px;
    text-align: center;
    position: relative;
}

.hl.one .block .text-one {
    font-size: 50px;
    font-family: 'Rubik';
    font-weight: 700;
    margin-bottom: 0;
}
.hl.one .block .text-two {
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 400;
    color: white;
    opacity: 0.70;
    margin-top: 28px;
    margin-bottom: 28px;
}

.hl.one .block .btn.goit {
    padding: 25px 35px;
    background: white;
    color: #ED2E55;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
}
.hl.one .block .btn.about {
    padding: 25px 35px;
    background: #ED2E55;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
    margin-left: 30px;
    border: 2px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.hl.one .block .btn.about:hover {
    padding: 25px 35px;
    background: white;
    color: #ED2E55;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
    margin-left: 30px;
}

.hl.one .block .left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 35px;
}
.hl.one .block .right-top {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
}
.hl.one .block .right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 35px;
}
.hl.one .block .left-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
}

.hl.two {
    background: #0C111B;
    color: white;
    font-size: 55px;
    text-align: center;
}
.hl.two span {
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.hl.two .about-text.top {
    margin-top: 60px;
}
.hl.two .about-text {
    font-size: 45px;
    font-family: 'Rubik';
    font-weight: 700;
    margin-top: 25px;
    color: #EAEAEA;
    margin-bottom: 0;
}
.hl.two .mini-about {
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 400;
    color: #EAEAEA;
    opacity: 0.70;
    margin-top: 10px;
    margin-bottom: 0;
}
.hl.two .btn.about {
    padding: 25px 35px;
    background: white;
    color: #0C151B;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
}
.hl.two .btn.goit {
    padding: 25px 35px;
    background: #0C111B;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
    border: 2px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.hl.two a.mrgl-30 {
    margin-left: 30px;
} 
.hl.two .btn.goit:hover {
    padding: 25px 35px;
    background: white;
    color: #0C151B;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
}

.footer {
    padding: 40px;
    font-size: 35px;
    background: #061318;
}
.footer img {
    display: inline-block;
    height: 76px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.footer span {
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
}
.footer span span {
    margin-left: 0;
}

.btn {
    padding: 25px 35px;
    background: white;
    color: #0C151B;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Rubik';
    font-weight: 500;
}

@media (max-width: 1000px) {
    .head {
        font-size: 30px;
        font-family: 'Montserrat';
        font-weight: 700;
        color: white;
        padding: 40px;
        text-align: center;
    }
    .head img {
        display: block;
        height: 56px;
        margin: auto;
        pointer-events: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    .head a {
        font-size: 30px;
        font-family: 'Montserrat';
        font-weight: 700;
        color: white;   
        text-decoration: none;
        margin-left: 0;
    }

    .footer img {
        display: inline-block;
        height: 56px;
        pointer-events: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    @media (max-width: 900px) {

        .hl.one .block {
            width: 100%;
        }

        .hl.one .block .text-one {
            font-size: 35px;
            font-family: 'Rubik';
            font-weight: 700;
            margin-bottom: 0;
        }
        .hl.one .block .text-two {
            font-size: 20px;
            font-family: 'Rubik';
            font-weight: 400;
            color: white;
            opacity: 0.70;
            margin-top: 28px;
            margin-bottom: 28px;
        }
        
        .hl.one .block .btn.goit {
            padding: 25px 35px;
            background: white;
            color: #ED2E55;
            border-radius: 25px;
            font-size: 25px;
            font-family: 'Rubik';
            font-weight: 500;
            display: block;
            position: relative;
            margin: 0 auto;
        }
        .hl.one .block .btn.about {
            margin-top: 15px;
            margin-left: 0;
        }
        .hl.one .block .btn.about:hover {
            margin-top: 15px;
            margin-left: 0;
        }   
        
        
        
        @media (max-width: 700px) {

            .hl.one .block {
                padding: 50px 60px;
            }
    
            .hl.one .block .text-one {
                font-size: 25px;
                font-family: 'Rubik';
                font-weight: 700;
                margin-bottom: 0;
            }
            .hl.one .block .text-two {
                font-size: 15px;
                font-family: 'Rubik';
                font-weight: 400;
                color: white;
                opacity: 0.70;
                margin-top: 28px;
                margin-bottom: 28px;
            }

            .hl.one .block .btn.goit {
                padding: 25px 35px;
                background: white;
                color: #ED2E55;
                border-radius: 25px;
                font-size: 20px;
                font-family: 'Rubik';
                font-weight: 500;
                display: block;
                position: relative;
                margin: 0 auto;
            }

            .hl.one .block .btn.about {
                font-size: 20px;
                margin-top: 15px;
                margin-left: 0;
            }
            .hl.one .block .btn.about:hover {
                font-size: 20px;
                margin-top: 15px;
                margin-left: 0;
            } 

            .footer {
                text-align: center;
            }
            .footer.img {
                display: block;
            }
            .footer span {
                margin-left: 0;
                font-size: 25px;
                display: block;
            }
            .footer span span {
                margin-left: 0;
            }
            
            @media (max-width: 500px) {

                .hl.one {
                    padding: 20px;
                }

                .hl.one .block {
                    padding: 30px 40px;
                }
        
                .hl.one .block .text-one {
                    font-size: 25px;
                    font-family: 'Rubik';
                    font-weight: 700;
                    margin-bottom: 0;
                }
                .hl.one .block .text-two {
                    font-size: 15px;
                    font-family: 'Rubik';
                    font-weight: 400;
                    color: white;
                    opacity: 0.70;
                    margin-top: 28px;
                    margin-bottom: 28px;
                }
    
                .hl.one .block .btn.goit {
                    padding: 25px 35px;
                    font-size: 20px;
                    display: block;
                    position: relative;
                    margin: 0 auto;
                }
    
                .hl.one .block .btn.about {
                    font-size: 20px;
                    margin-top: 15px;
                    margin-left: 0;
                }
                .hl.one .block .btn.about:hover {
                    font-size: 20px;
                    margin-top: 15px;
                    margin-left: 0;
                } 

                .hl.two {
                    background: #0C151B;
                    color: white;
                    font-size: 55px;
                    text-align: center;
                }
                .hl.two span {
                    font-size: 45px;
                    font-family: 'Montserrat';
                    font-weight: 700;
                }
                
                .hl.two .about-text.top {
                    margin-top: 60px;
                }
                .hl.two .about-text {
                    font-size: 35px;
                    margin-bottom: 0;
                }
                .hl.two .mini-about {
                    font-size: 20px;
                }
                .hl.two .btn.goit {
                    margin-top: 20px;
                }
                .hl.two a.mrgl-30 {
                    margin-left: 0;
                } 

                @media (max-width: 450px) {

                    .hl.two {
                        background: #0C151B;
                        color: white;
                        font-size: 35px;
                        text-align: center;
                    }
                    .hl.two span {
                        font-size: 35px;
                        font-family: 'Montserrat';
                        font-weight: 700;
                    }
                    
                    .hl.two .about-text.top {
                        margin-top: 60px;
                    }
                    .hl.two .about-text {
                        font-size: 25px;
                        margin-bottom: 0;
                    }
                    .hl.two .mini-about {
                        font-size: 15px;
                    }
                    .hl.two .btn.goit {
                        margin-top: 20px;
                    }
                    .hl.two a.mrgl-30 {
                        margin-left: 0;
                    } 

                    @media (max-width: 340px) {

                        .hl.one {
                            padding: 10px;
                        }
    
                        .hl.one .block {
                            padding: 30px 40px;
                            width: 100%;
                        }
                
                        .hl.one .block .text-one {
                            font-size: 25px;
                            font-family: 'Rubik';
                            font-weight: 700;
                            margin-bottom: 0;
                        }
                        .hl.one .block .text-two {
                            font-size: 15px;
                            font-family: 'Rubik';
                            font-weight: 400;
                            color: white;
                            opacity: 0.70;
                            margin-top: 28px;
                            margin-bottom: 28px;
                        }
            
                        .hl.one .block .btn.goit {
                            padding: 25px 35px;
                            font-size: 20px;
                            display: block;
                            position: relative;
                            margin: 0 auto;
                        }
            
                        .hl.one .block .btn.about {
                            font-size: 20px;
                            margin-top: 15px;
                            margin-left: 0;
                        }
                        .hl.one .block .btn.about:hover {
                            font-size: 20px;
                            margin-top: 15px;
                            margin-left: 0;
                        }
                        
                        .hl.one .block .btn.about {
                            font-size: 20px;
                            margin-top: 15px;
                            margin-left: 0;
                        }
                        .hl.one .block .btn.about:hover {
                            font-size: 20px;
                            margin-top: 15px;
                            margin-left: 0;
                        } 
    
                    }

                }

            }

        }
    }

}

button:active, button:focus {
    outline: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0;
outline-color: transparent;
outline-width: 0;
outline-style: none;
box-shadow: 0 0 0 0 rgba(0,123,255,0);
} 