

.music-i {
    display: block;
    text-align: center;
}

.music {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    background: #171D60;
    padding: 25px 40px;
    vertical-align: middle;
    border-radius: 40px;
    box-shadow: 0px 3px 15px rgb(9, 13, 44, 0.20);
    display: inline-block;
    margin: 0 auto;
    margin-top: 45px;
    position: relative;
    text-align: center;
    transition: 0.5s all;
}
.music span {
    display: inline-block;
    vertical-align: middle;
}

.music .btn {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    background: #E63757;
    padding: 10px 30px;
    border-radius: 20pt;
    border: none;
    box-shadow: 0px 5pt 10pt rgb(193, 19, 60, 0.15);
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
}

.btn.j {
    display: inline-block;
    margin: 0;
}
#jp_container_1 {
    display: none;
}

/* mini-player */

/* сам плеер */

.player {
    position: fixed;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    display: inline-block;
    visibility: visible;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*  */

/* время */

.progress {
    width: 174px;
    height: 3px;
    background: #f5f5f5;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px;
    visibility: visible;
    margin-top: 10px;
    border-radius: 10px;
}
.progress .time {
    width: 0%;
    height: 3px;
    background: #FF6B84;
    border-radius: 10px;
}

/*  */

/* названия */

.musicname {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    width: 175px;
    height: auto;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/*  */

/* громкость */

.player .btn.control {
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    border-radius: 20pt;
    padding: 10px 30px;
    box-shadow: 0px 5pt 10pt rgba(2, 9, 17, 0.15);
    color: #131C27;
    background: white;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.player .btn.control * {
    cursor: pointer;
}

.btn.control #volume {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.btn.control .icon {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/*  */

/* кнопка "поделиться" */

.btn.share {
    padding: 5pt 7pt;
    background: #4E75FF;
    font-size: 10pt;
    color: white;
    box-shadow: 0px 3px 6px rgba(78, 117, 255, 0.16);
    border-radius: 20pt;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.btn.share * {
    cursor: pointer;
}

/*  */

/* "другие" кнопки */

.etccontrols {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 10px;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
}

/*  */

/*  */

@media (max-width: 800px) {
    .btn.play {
        margin-left: 0;
    }
}

@media (max-height: 500px) {
    .player {
        position: relative;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        margin-bottom: 30px;
    }
}

#preview {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -100px) scale(1.2);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(5, 12, 63, 0.4);
    transition: 0.5s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#preview:hover {
    left: 50%;
    top: 80px;
    transform: translate(-50%, -100px) scale(1.4);
    transition: 0.5s;
}


.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #010313;
    z-index: 6000;
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 66px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    animation: loader 1s linear infinite;
}
.loader.loaded {
    display: none;
    visibility: none;
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%);
        filter: drop-shadow(0px 0px 3.5px rgba(255, 135, 162, 0.5));
    }
    50% {
        transform: translate(-50%, -60%);
        filter: drop-shadow(0px 0px 5px rgba(255, 135, 162, 0.5));
    }
    70% {
        filter: drop-shadow(0px 0px 10px rgba(255, 135, 162, 0.5));
    }
    100% {
        transform: translate(-50%, -50%);
    }
}